/* 
 Theme Name:   sela-child
 Theme URI:    
 Description:  
 Author:       mark
 Author URI:   
 Template:     sela
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html

 /* == Add your own styles below this line ==
--------------------------------------------*/

.teal {
	background-color: teal;
}

.main-navigation {
	background-color: #db8174;
}

a {
	color: #bf6f65;
	text-decoration: none;
}

.footer-widget-area a:hover {
	color: #bf6f65;
}

.entry-title a:hover {
	color: #bf6f65;
}

.main-navigation ul ul a:hover,
.main-navigation ul ul > li.focus > a {
	color: #bf6f65;
}

.nav-menu > li > a:after {
	color: #bf6f65;
	content: " \2022";
	margin-left: 1em;
	}

.entry-title {
	color: blue;
}

.entry-content{
	color: purple;
}

.entry-header{
	background-color: yellow;
}

.what{
	color: #ffffff;
	background-color: #000000;
}